<!DOCTYPE html>
<html lang="en" ng-app="app">

  <head>
    
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico"></link>

    <title>Capability Fact Sheets</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet"></link>
    <link href="css/grid.css" rel="stylesheet"></link>
    <link href="css/nvd3.css" rel="stylesheet"></link>

  </head>

  <body>
    <div class="container" id="IndexCtrl" ng-controller="IndexCtrl">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" onClick="window.location.reload(true)">Capability Fact Sheets</a>
          </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="" onClick="window.location.reload(true)">Home</a></li>
            </ul>
        </div>
      </div>

<div class="container" id="IndexCtrl" ng-controller="IndexCtrl">

  <div class="container" ng-hide="data">

  <div class="page-header">
    <h1>Capability List</h1>
  </div>

  <input type="text" ng-model="query" size="100" placeholder="Search for a capability"></input><br/><br/>

  <ul>
    <li ng-repeat="cap in list.dataSeries | filter:query" ng-click="getFactSheet(cap)"><a ng-href="">{{cap | replaceUnderscores }}</a></li>
  </ul>

</div> <!-- /container -->

<div class="container" ng-show="data">

  <div class="page-header"></div> <!-- creates a pretty page break line -->

  <h3>Capability Overview: {{ data.dataSeries.CapabilityOverviewSheet.CAPABILITY_GROUP_QUERY[0] | replaceUnderscores }}</h3>
  <br/>

  <div class="row equalColumns">

  <div class="col-md-2"  style="word-wrap: break-word">
      <center><b>{{ data.dataSeries.CapabilityOverviewSheet.CAPABILITY_GROUP_QUERY[0] | replaceUnderscores }}</b></center>
    </div>
    <div class="col-md-10" style="word-wrap: break-word">
      {{ data.dataSeries.CapabilityOverviewSheet.CAPABILITY_GROUP_QUERY[1] | replaceUnderscores }}
    </div>
  </div> <!--row-->
      <div class="row equalColumns">
        <div class="col-md-2" style="word-wrap: break-word">
          <center><b>Capability Group</b></center>
        </div>
        <div class="col-md-10" style="word-wrap: break-word">
			{{ data.dataSeries.CapabilityOverviewSheet.CAPABILITY_GROUP_QUERY[2] | replaceUnderscores }} -
          {{ data.dataSeries.CapabilityOverviewSheet.CAPABILITY_GROUP_QUERY[3] | replaceUnderscores}}
        </div>
      </div> <!--row-->
      <div class="row equalColumns">
        <div class="col-md-2"><center><b>Mission Outcomes</b></center></div>
        <div class="col-md-10" style="word-wrap: break-word">
          <ul>
            <li ng-repeat="outcome in data.dataSeries.CapabilityOverviewSheet.MISSION_OUTCOME_QUERY">
              {{outcome | replaceUnderscores}}
            </li>
          </ul>
        </div>
      </div> <!--row-->
      <div class="row equalColumns">
        <div class="col-md-2"><center><b>Participants</b></center></div>
        <div class="col-md-10" style="word-wrap: break-word">
          <ul>
            <li ng-repeat="part in data.dataSeries.CapabilityOverviewSheet.PARTICIPANT_QUERY">
              {{part | replaceUnderscores}}
            </li>
          </ul>
        </div>
      </div> <!--row-->
      <br/>

      <div class="row">
        <div class="col-md-2 col-md-offset-1"><center><b>CONOPS Source</b></center></div>
        <div class="col-md-2"><center>{{ data.dataSeries.CapabilityOverviewSheet.CONOPS_SOURCE_QUERY[0] }}</center></div>
        <div class="col-md-2 col-md-offset-1"><center><b>Date Capability Fact Sheet Generated</b></center></div>
        <div class="col-md-2"><center>{{ data.dataSeries.CapabilityOverviewSheet.DATE_GENERATED_QUERY[0] }}</center></div>
      </div> <!--row-->

      <div class="page-header"></div> <!-- creates a pretty page break line -->

      <h3 id="highlights">Capability Highlights</h3>
      <p>Click on a highlight to see more detailed information.</p>
      <br/>

      <div class="row">
        <div class="col-md-1"><center><b><a ng-click="scrollTo('tasks')">Tasks</a></b></center></div>
        <div class="col-md-1"><center>{{ data.dataSeries.CapabilityOverviewSheet.TASK_COUNT_QUERY[0] }}</center></div>
        <div class="col-md-1"><center><b><a ng-click="scrollTo('BP')">Business Processes</a></b></center></div>
        <div class="col-md-1"><center>{{ data.dataSeries.CapabilityOverviewSheet.BP_COUNT_QUERY[0] }}</center></div>
        <div class="col-md-1"><center><b><a ng-click="scrollTo('BR')">Business Rules</a></b></center></div>
        <div class="col-md-1"><center>{{ data.dataSeries.CapabilityOverviewSheet.BR_COUNT_QUERY[0] }}</center></div>
        <div class="col-md-1"><center><b><a ng-click="scrollTo('BS')">Business Standards</a></b></center></div>
        <div class="col-md-1"><center>{{ data.dataSeries.CapabilityOverviewSheet.BS_COUNT_QUERY[0] }}</center></div>
        <div class="col-md-1"><center><b><a ng-click="scrollTo('TR')">Technical Reqs</a></b></center></div>
        <div class="col-md-1"><center>{{ data.dataSeries.CapabilityOverviewSheet.TR_COUNT_QUERY[0] }}</center></div>
        <div class="col-md-1"><center><b><a ng-click="scrollTo('TR')">Technical Standards</a></b></center></div>
        <div class="col-md-1"><center>{{ data.dataSeries.CapabilityOverviewSheet.TS_COUNT_QUERY[0] }}</center></div>
      </div> <!--row-->

    <div class="row">
      <div class="col-md-1 col-md-offset-1"><center><b><a ng-click="scrollTo('BLU')">Business Logic Units</a></b></center></div>
      <div class="col-md-1"><center>{{ data.dataSeries.CapabilityOverviewSheet.BLU_COUNT_QUERY[0] }}</center></div>
      <div class="col-md-1"><center><b><a ng-click="scrollTo('fgaps')">Functional Gaps</a></b></center></div>
      <div class="col-md-1"><center>{{ data.dataSeries.CapabilityOverviewSheet.FUNCTIONAL_GAP_COUNT_QUERY[0] }}</center></div>

        <div class="col-md-4 col-md-offset-2"><center><strong><a ng-click="scrollTo('data')">Data Objects</a></strong></center>
          <div class="row">
            <div class="col-md-3">
              <center><i>Provide</i></center>
            </div>
            <div class="col-md-3">
              <center>{{ data.dataSeries.CapabilityOverviewSheet.DATA_COUNT_QUERY[2] }}</center>
            </div>
            <div class="col-md-3">
              <center><i>Consume</i></center>
            </div>
            <div class="col-md-3">
              <center>{{ data.dataSeries.CapabilityOverviewSheet.DATA_COUNT_QUERY[1] }}</center>
            </div>
          </div> <!-- row -->
        </div>
    </div> <!-- row -->

    <h4 id="sysinfo">System Information: Number of systems providing and consuming the data that the capability will provide and/or consume 
</h4>

    <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th>
            Number of systems providing data
          </th>
          <th>
            Number of systems consuming data
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Capability Provides</th>
          <td><a ng-click="scrollTo('PSPD')">{{ data.dataSeries.CapabilityOverviewSheet.CAP_PROVIDE_SYSTEM_PROVIDE_DATA_COUNT_QUERY[0] }}</a></td>
          <td><a ng-click="scrollTo('CSPD')">{{ data.dataSeries.CapabilityOverviewSheet.CAP_PROVIDE_SYSTEM_CONSUME_DATA_COUNT_QUERY[0] }}</a></td>
        </tr>
        <tr>
          <th>Capability Consumes</th>
          <td><a ng-click="scrollTo('PSCD')">{{ data.dataSeries.CapabilityOverviewSheet.CAP_CONSUME_SYSTEM_PROVIDE_DATA_COUNT_QUERY[0] }}</a></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div> <!-- system table -->

  <!--data objects with no providing/consuming systems table-->
      <h4 id="sysinfo">Data objects not provided by systems</h4>
      <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th>
            Data Object(s)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Capability Provide</th>
          <td><a ng-click="scrollTo('PSPDMD')">{{ data.dataSeries.CapabilityOverviewSheet.CAP_PROVIDE_SYSTEM_PROVIDE_MISSING_DATA_COUNT_QUERY[0] }}</a></td>
        </tr>
        <tr>
          <th>Capability Consume</th>
          <td><a ng-click="scrollTo('PSCDMD')">{{ data.dataSeries.CapabilityOverviewSheet.CAP_CONSUME_SYSTEM_PROVIDE_MISSING_DATA_COUNT_QUERY[0] }}</a></td>
        </tr>
      </tbody>
    </table>
  </div> <!-- data objects with no providing/consuming systems table -->
  
    <div class="page-header"></div> <!-- creates a pretty page break line -->

    <h3>Derived Calculations</h3>
    <br/>

  <div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Capability Similarity Heatmap shows the five most similar capabilities based on their shared characteristics</h3>
            </div>
            <div class="panel-body">
              <div d3-heatmap="" d3-width="550" d3-height="350" data="data.dataSeries.CapabilitySimSheet"></div>
            </div>
        </div> <!-- panel-primary -->
    </div> <!-- col-md-6 -->

    <div class="col-md-6">
      <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Data Object Overview shows the number of data objects the tasks supporting the capability need to provide or consume</h3>
            </div>
            <div class="panel-body">
              <div d3-pie d3-width="550" d3-height="350" data="data.dataSeries.CapabilityOverviewSheet"></div>
              <!--<nvd3-pie-chart
                data="pieChartData"
                width="550"
                height="350"
                showLabels="true">
                <svg></svg>
              </nvd3-pie-chart>-->
            </div>
      </div> <!-- panel-primary -->
    </div> <!-- col-md-6 -->
  </div> <!-- row -->

  <h4><a href="" onClick="window.location.reload(true)">Go back to capability list</a></h4>

<div class="page-header"></div> <!-- creates a pretty page break line -->

  <h3>Appendix</h3>

  <h4 id="data">Data objects that are either created (C) or read (R) for the tasks supporting this capability.</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Data Object(s)</th>
          <th>C or R</th> 
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="data in data.dataSeries.DataSheet.DATA_OBJECT_QUERY">
            <td>{{ data[0] | replaceUnderscores }}</td>
            <td>{{ data[1] }}</td>
          </tr>
      </tbody>
    </table>
    </table>
  </div>
  <p><a ng-click="scrollTo('highlights')">Back to capability highlights</a></p>

  <h4 id="BLU">Business Logic Units (BLU) needed for the tasks supporting this capability</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>BLU</th> 
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="BLU in data.dataSeries.BLUSheet.BLU_QUERY">
          <td>{{ BLU[0] | replaceUnderscores }}</td>
        </tr>
      </tbody>
    </table>
    </table>
  </div>
  <p><a ng-click="scrollTo('highlights')">Back to capability highlights</a></p>

  <h4 id="tasks">Tasks</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Task</th> 
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in data.dataSeries.TaskAndBPSheet.TASK_QUERY">
          <td>{{ task[0] | replaceUnderscores }}</td>
        </tr>
      </tbody>
    </table>
    </table>
  </div>
  <p><a ng-click="scrollTo('highlights')">Back to capability highlights</a></p>

  <h4 id="BP">Business Processes</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Business Process</th> 
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="BP in data.dataSeries.TaskAndBPSheet.BP_QUERY">
          <td>{{ BP[0] | replaceUnderscores }}</td>
        </tr>
      </tbody>
    </table>
    </table>
  </div>
  <p><a ng-click="scrollTo('highlights')">Back to capability highlights</a></p>

  <h4 id="BR">Business Rules</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Business Rule</th> 
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="BR in data.dataSeries.ReqAndStandardSheet.BR_QUERY">
          <td>{{ BR[0] | replaceUnderscores }}</td>
        </tr>
      </tbody>
    </table>
    </table>
  </div>
  <p><a ng-click="scrollTo('highlights')">Back to capability highlights</a></p>

  <h4 id="BS">Business Standards</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Business Standard</th> 
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="BS in data.dataSeries.ReqAndStandardSheet.BS_QUERY">
          <td>{{ BS[0] | replaceUnderscores }}</td>
        </tr>
      </tbody>
    </table>
    </table>
  </div>
  <p><a ng-click="scrollTo('highlights')">Back to capability highlights</a></p>

  <h4 id="TR">Technical Requirements and Standards</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category</th>
          <th>Subcategory</th>
          <th>Technical Requirement</th> 
          <th>Technical Standard</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="TS in data.dataSeries.ReqAndStandardSheet.TS_QUERY">
          <td>{{ TS[2] | replaceUnderscores }}</td>
          <td>{{ TS[3] | replaceUnderscores }}</td>
          <td>{{ TS[0] | replaceUnderscores }}</td>
          <td>{{ TS[1] | replaceUnderscores }}</td>
        </tr>
      </tbody>
    </table>
    </table>
  </div>
  <p><a ng-click="scrollTo('highlights')">Back to capability highlights</a></p>

  <h4 id="PSCD">System Information: Existing systems that provide the data objects the capability needs.</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Providing System</th> 
          <th>Data object needed</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="PSCD in data.dataSeries.SystemSheet.CAP_CONSUME_SYSTEM_PROVIDE_DATA_QUERY">
          <td>{{ PSCD[0] | replaceUnderscores }}</td>
          <td>{{ PSCD[1] | replaceUnderscores }}</td>
        </tr>
      </tbody>
    </table>
    </table>
  </div>
  <p><a ng-click="scrollTo('sysinfo')">Back to capability highlights</a></p>

  <h4 id="CSPD">System Information: Existing systems that consume the data objects the capability  will provide</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Consuming System</th> 
          <th>Data object provided</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="CSPD in data.dataSeries.SystemSheet.CAP_PROVIDE_SYSTEM_CONSUME_DATA_QUERY">
          <td>{{ CSPD[0] | replaceUnderscores }}</td>
          <td>{{ CSPD[1] | replaceUnderscores }}</td>
        </tr>
      </tbody>
    </table>
    </table>
  </div>
  <p><a ng-click="scrollTo('sysinfo')">Back to capability highlights</a></p>

  <h4 id="PSPD">System Information: Existing systems that provide the data objects the capability will provide.</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Providing System</th> 
          <th>Data object provided</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="PSPD in data.dataSeries.SystemSheet.CAP_PROVIDE_SYSTEM_PROVIDE_DATA_QUERY">
          <td>{{ PSPD[0] | replaceUnderscores }}</td>
          <td>{{ PSPD[1] | replaceUnderscores }}</td>
        </tr>
      </tbody>
    </table>
    </table>
  </div>
  <p><a ng-click="scrollTo('sysinfo')">Back to capability highlights</a></p>

  <h4 id="PSPDMD">Data objects that are not provided by existing systems that the capability needs to create.</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Data Object(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="PSPDMD in data.dataSeries.SystemSheet.CAP_PROVIDE_SYSTEM_PROVIDE_MISSING_DATA_QUERY">
          <td>{{ PSPDMD | replaceUnderscores }}</td>
        </tr>
      </tbody>
    </table>
    </table>
  </div>
  <p><a ng-click="scrollTo('sysinfo')">Back to capability highlights</a></p>
  
    <h4 id="PSCDMD">Data objects that are not provided by existing systems that the capability needs to consume.</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Data Object(s)</th> 
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="PSCDMD in data.dataSeries.SystemSheet.CAP_CONSUME_SYSTEM_PROVIDE_MISSING_DATA_QUERY">
          <td>{{ PSCDMD | replaceUnderscores }}</td>
        </tr>
      </tbody>
    </table>
    </table>
  </div>
  <p><a ng-click="scrollTo('sysinfo')">Back to capability highlights</a></p>
 
  <h4 id="fgaps">Functional Gaps that are affecting the capability.</h4>

  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Functional Gap</th> 
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="FG in data.dataSeries.FunctionalGapSheet.FUNCTIONAL_GAP_QUERY">
          <td>{{ FG[0] | replaceUnderscores }}</td>
        </tr>
      </tbody>
    </table>
    </table>
  </div>
  
  <div class="bs-example">
    <b>Reference Page:</b>
    <ul>
      <li>Capability Description: This information is directly stated within the respective CONOPS document</li>
      
      <li>Capability Group:  This information is directly stated within the respective CONOPS document</li>
      
      <li>Mission Outcomes: This information is directly stated within the respective CONOPS document</li>
    
      <li>Participants: The participants for the capabilities are mapped through the associated tasks using the HL7 Healthcare Scenario Roadmap as a reference</li>
      
      <li>CONOPS Source: Identifies whether this capability is defined within the Health Services Delivery (HSD), Health Systems Support (HSS) or Force Health Protection (FHP) CONOPS</li>
      
      <li>Tasks: This information is directly stated within the respective CONOPS document</li>
      
      <li>Business Processes: This information is mapped from the capability to the respective supporting business processes that are comprised of clinical, logistical and business bps.</li>
      
      <li>Business Rule: This information is directly stated within the respective CONOPS document</li>
      
      <li>Business Standards: This information is directly stated within the respective CONOPS document</li>
      
      <li>Technical Requirements and Standards: This information is derived from mapping the capability attributes within the CONOPS to the Health Standards Profile (HSP)</li>
      
      <li>Business Logic Units: These are the algorithms that are needed to complete the tasks that support the capability and were mapped by subject matter experts</li>
      
      <li>Functional Gaps: This depicts the functional gaps that are affecting the capability</li>
      
      <li>Data Objects (Provide and Consume): These are the data objects that are needed to complete the tasks that support the capability and were mapped by subject matter experts</li>
    </ul>
  </div>

  <h4><a href="" onClick="window.location.reload(true)">Go back to capability list</a></h4>

</div> <!-- /container -->

</div> <!-- /container -->

    <!-- AngularJS -->  
    <script src="lib/angular.min.js"></script> 
    <script src="lib/angular-route.js"></script> 

    <!-- Angular Modules -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>

    <!-- jQuery library --> 
    <script src="lib/jquery-1.11.0.min.js"></script> 

    <!-- UnderscoreJS library -->
    <script src="lib/underscore-min.js"></script>

    <!-- d3 library -->
    <script src="lib/d3.js"></script>

    <!-- AngularJS-NVD3 directives for pie chart -->
    <script src="lib/angularjs-nvd3-directives.js"></script>

    <script>
      function start(data) {
        var ctrlScope = angular.element(jQuery('#IndexCtrl')).scope();
        ctrlScope.setJSONData(data);
      };
    </script>

  </body>

</html>