<!DOCTYPE html>

<html class="no-js" ng-app="rdfgraph">
<head>
    <title>Single Chart Grid</title>    
    <!-- CSS -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link rel="stylesheet" href="css/bootstrap.css"/> 
    <link rel="stylesheet" href="css/jquery-ui-1.8.23.custom.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/bootstrap-editable.css"/>
</head>

<body ng-cloak class="ng-cloak">
    <div id='thecontroller' ng-controller="SingleChartCtrl">
	   <div id="logo"><img src="img/logo.png"></div>
	   <div class="span12 formContainer"> 
          <h3>{{chartTitle}}</h3>
		  <div style="clear: both"></div>
			 
            <div id="graphSpace">
                <div class="options">
    				<b>Chart Type: </b>
    				<button class="btn btn-large btn-primary" ng-click='createChart("scatter")'><img src="img/scatter.png"></button>
                    <button class="btn btn-large btn-warning" ng-click='createChart("bubble")'><img src="img/bubble.png"></button>
                    <br>
    			 </div>
                 <span class="extLegend" ng-show="yExtraLegend.length > 0 && xExtraLegend.length > 0">
                    <span ng-show="yExtraLegend.length > 0">
                        <b>Y Plot Lines Legend:</b>
                        <br />
                        <p ng-repeat="leg in yExtraLegend">{{leg}}</p>
                    </span>
                    <span ng-show="xExtraLegend.length > 0">
                        <b>X Plot Lines Legend:</b>
                        <br />
                        <p ng-repeat="leg in xExtraLegend">{{leg}}</p>
                    </span>
                </span>
                <div id='visualization' style="width:600px;height:523px;"></div>
            </div>   
    </div>
    
    <!-- jQuery and Bootstrap Libraries -->
    <script src="lib/jquery/jquery-1.8.3.min.js"></script>
    <script src="lib/jquery/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/underscore.js"></script>

	
	<!-- AngularJS -->
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-ui.js"></script>
	<script src="lib/angular/angular-ui-bootstrap.js"></script>
		
	<!-- Angular Module -->
	<script src="js/app.js"></script>
	
	<!-- Angular Controllers -->
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/filters.js"></script>	
	<script src="js/services.js"></script>
	
	<!-- Make Dem Charts -->
    <script src="lib/highcharts.js"></script>
    <script src="lib/highcharts-more.js"></script>
    <script>
        function start(data) {
        	//alert('Yoo Hoo ');
            //var jsonData = data;
            
         // Declaration instance of scope where is my function
            var ctrlScope = angular.element(jQuery('#thecontroller')).scope();
            // calling that function
            ctrlScope.setJSONData(data);
        };
    </script>
	
</body>
</html>
