html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.sm-btn {
    padding: 3px 8px;
    border-radius: 3px;
}

.btn-light {
    color: #444;
    background: linear-gradient(to bottom, #ffffff 0, #eeeeee 100%);
    background-color: white;
    border: 1px solid #ccc;
    outline: none;
}

.btn-light:hover {
    background: linear-gradient(to bottom, #f7f7f7 0, #e5e5e5 100%);
    /* W3C */
    border: 1px solid #c5c5c5;
}

.btn-light:active,
.btn-light.toggled {
    background: #e0e0e0;
    border: 1px solid #bbb;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#clusterNavbar{
    background-color: #eee;
    width: 100%;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    z-index: 6;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.065);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.065);
}

#rightNodePane{
    padding: 10px 10px;
    background-color: #eee;
    width: 300px;
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    z-index: 2;
    border-right: 1px solid #ccc;
}

#clusterContainer{
    top: 42px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
}

.rightNodePane.clusterPaneHidden{
    right: -530px;
}
.barContainer.clusterPaneHidden{
    right: -530px;
}

.nodeContainer{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-top: -6px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    height: calc(30% - 37px);
    overflow-y: scroll;
    background-color: #fff;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.barContainer{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-top: -5px;
    top: 225px;
    bottom: 10px;
    height: calc(70% - 37px);
    overflow-y: scroll;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.titleContainer{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 40px;
    background-color: #fff;
}

path.domain{
    opacity: 1;
    stroke-width: 1px;
    shape-rendering: crispedges;
    stroke: black;
    fill: black;
}



.barContainerContents{
    height: 400px;
    background-color: #fff;
}

.nodeContainerText{
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#hideClusterPropButton{
    float: right;
    margin-right: 20px;
}



#clusterContainer.clusterPaneHidden{
    right: 0;
}

#thecontroller{
    height: 100%;
    width: 100%;
}

.container-container {
    position: relative;
    height: 100%;
    float: right;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

#clusterContainer .tooltip-inner {
    text-align:left;
    max-width: none;
}

.clearfix {
    clear: both;
}