* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

/* jquery UI resizable css */
.ui-icon { width: 16px; height: 16px; background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
    
    
.slider {
    width: 800px;
    margin-top: 13px;
}

.slider-container {
    width: 800px;
    margin: 0 auto;
}

#sidebarHeader {
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: #eee;
    padding: 25px 0px 35px 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.065);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.065);
}

#sidebarContentArea{
    position: absolute;
    left: 0px;
    top: 87px;
    right: 0px;
    bottom: 0px;
    background-color: white;
}



#sidebarContentLeft {
    position: absolute;
    height: 100%;
    width:50%;
    top: 34px;
    bottom: 20px;
    left: 0;
    overflow: auto;
    background-color: #eee;
    padding: 1px 0px 0px 0px;
    border-right: 1px solid #ccc;
}

#sidebarContentRight {
    position: absolute;
    left: 50%;
    top: 34px;
    bottom: 0;
    right: 0;
    padding: 1px 0px 0px 0px;
}

#sidebarFooter {
    position: absolute;
    height: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color:white;
}

#slider{
    margin-left: auto;
    margin-right: auto;
}

.phase {
    width: 10px;
}

.d3-tip {
    line-height: 1.4;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 3px;
    margin-top: -7px;
    font-family: sans-serif;
    font-size: 10px;
}
  
  /* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}
  /* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 98%;
    left: 0;
}

 .ng-table td.text-right {
     text-align: right;
 }

 .ng-table td.text-center {
     text-align: center;
 }

 .ng-table th.text-center {
     text-align: center;
 }
 .phase {
    width: 15%;
    white-space: nowrap;
    text-overflow:ellipsis;
     overflow: hidden;
 }
 .loe {
    width: 10%;
    white-space: nowrap;
    text-overflow:ellipsis;
     overflow: hidden;
 }
 .icd {
    width: 30%;
    white-space: nowrap;
    text-overflow:ellipsis;
     overflow: hidden;
 }
 
 .gl-item {
    max-width: 30%;
    white-space: nowrap;
    text-overflow:ellipsis;
     overflow: hidden;
 }
 
 .gl-tag {
    width: 15%;
    white-space: nowrap;
    text-overflow:ellipsis;
     overflow: hidden;
 }

.fixed-layout {
    table-layout: fixed;
}

.text-center {
    text-align: center;
}

.header-title {
  font-size: 18px;
}

#sidebarHeader .header-title{
    padding-bottom: 10px;
}

.header-left.pull-left {
    margin-left: 5%;
}

.btn-margin-left {
    margin-left: 2px;
}

.sidebar-title .sm-btn {
    margin-top: -3px;
}

.sidebar-title {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.label.Requirements {
    color:  black;
    background-color: #ECF6BD;
}

.label.Design {
    color:  black;
    background-color: #C5E5A0;
}

.label.Develop {
    color:  black;
    background-color: #9FD483;
}

.label.Test {
    background-color: #79C366;
}

.label.Deploy {
    background-color: #52B149;
}

.label.Completed {
    background-color: #2CA02C;
}

.label.Decommissioned {
    background-color: #FF0000;
}

.header-left {
    float: left;
    margin-left: 3%;
}

.hide-slider {
    visibility: hidden;
}

@media (max-width: 1340px) {
    .header-left {
        float: none;
        margin: 0 0 10px 0;
    }

    #sidebarContentArea {
        top: 140px;
    }
}

 