* {
    box-sizing: border-box;
}
.slider {
    width: 700px;
    margin-top: 5px;
}

.slider-container {
    width: 800px;
    margin-top: -15px;
    margin-left: 25%;
}

#sidebarHeader {
    left: 0px;
    top: 0px;
    right: 0px;
    height: 48px;
    background-color: #eee;
    width: 100%;
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.065);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.065);
}

#sidebarContentArea{
    position: absolute;
    left: 0px;
    top: 48px;
    right: 0px;
    bottom: 0px;
    background-color: white;
}

#sidebarContentRight {
    width: 50%;
    position:absolute;
    right: 0px;
    overflow-y: scroll;
    top: 0px;
    bottom: 0px;
    right:0px;
    background-color: #eee;
    z-index: 1;
    background-repeat: repeat-y;
    padding: 10px 15px 0px 15px;
    border-left: 1px solid #ccc;
    -webkit-box-shadow: 0 -1px -4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 -1px -4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 -1px -4px rgba(0, 0, 0, 0.065);
}

#sidebarContentLeft {
    position: fixed;
    height: 100%;
    width:50%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: white;
    padding: 10px 15px 0px 15px;
    border-left: 1px solid #ccc;
}

#sidebarFooter {
    position: absolute;
    height: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color:white;
}

#slider{
    margin-left: auto;
    margin-right: auto;
}

.d3-tip {
    line-height: 1.4;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 3px;
    margin-top: -7px;
    font-family: sans-serif;
    font-size: 10px;
}
  
  /* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}
  
  /* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 98%;
    left: 0;
}

 .ng-table td.text-right {
     text-align: right;
 }

 .ng-table td.text-center {
     text-align: center;
 }

 .ng-table th.text-center {
     text-align: center;
 }
.value-container {
    position: relative;
    left: 50px;
    top: 10px;
    z-index: -1;
    text-indent: 50px;
    font-size: 150%;


}
.square-box{
    position: relative;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    overflow: hidden;
    border: 2px solid blue;
    border-radius: 10px;
    border-color: #0e90d2;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 2px;
    left: 3px;
    bottom: 0;
    right: 0;
    z-index: 2;
    color: white;
}
.square-content div {
   display: table;
   width: 20%;
   height: 20%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: black
}
.sliderVal {
    position:  absolute;
    top: 2px;
    left: 3px;
    bottom: 0;
    right: 0;
    color: white;
}