# Environment variables for OpenAI, Azure OpenAI and Bedrock testing

# Client - OpenAI
OPENAI_API_KEY=<your-openai-api-key>

# Client - OpenAI - Azure
AZURE_OPENAI_API_KEY=<your-azure-openai-api-key>
AZURE_OPENAI_GPT_4O_ENDPOINT=<your-azure-openai-gpt-4o-endpoint>
AZURE_OPENAI_O1_MINI_ENDPOINT=<your-azure-openai-o1-mini-endpoint>

# Client - Bedrock
AWS_SECRET_KEY=<your-secret-key>
AWS_ACCESS_KEY=<your-access-key>

# vector_database
SERVER_CLIENT_BASE=<server_url> # example: https://{domain}/{directory/path segment}/Monolith/api
ACCESS_KEY=<access_key> # example: "d0033d40-ea83-4083-96ce-17a01451f831"
SECRET_KEY=<secret-key> # example: "c2b3fae8-20d1-458c-8565-30ae935c4dfb"
