# Environment variables for OpenAI, Azure OpenAI and Bedrock testing

# Client - OpenAI
OPENAI_API_KEY=<your-openai-api-key>

# Client - OpenAI - Azure
AZURE_OPENAI_API_KEY=<your-azure-openai-api-key>
AZURE_OPENAI_GPT_4O_ENDPOINT=<your-azure-openai-gpt-4o-endpoint>
AZURE_OPENAI_O1_MINI_ENDPOINT=<your-azure-openai-o1-mini-endpoint>

# Client - Bedrock
AWS_SECRET_KEY=<your-secret-key>
AWS_ACCESS_KEY=<your-access-key>

# Text Embeddings Inference Embedder
EMBEDDER_TEXT_EMBEDDING_ENDPOINT=<your-text-embedding-endpoint>

# Bedrock Embedder
EMBEDDER_BEDROCK_MODEL_ID="amazon.titan-embed-text-v2:0"
EMBEDDER_BEDROCK_ACCESS_KEY=<your-bedrock-access-key>
EMBEDDER_BEDROCK_SECRET_KEY=<your-bedrock-secret-key>
EMBEDDER_BEDROCK_REGION="us-gov-west-1"

