.label {
	-swing-foreground: #EEE;
}

.standardButton {
	-swing-foreground: #333;
	-swing-background: #fff;
	-arui-foreground-mouseover: #444;
	-arui-foreground-mousedown: #222;
	-arui-stroke: #999;
	-arui-stroke-mouseover: #aaa;
	-arui-stroke-mousedown: #888;
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #eee, .9, #ccc);
	-arui-fill-mouseover: lineargradient(0, 0, 0, 1, 0.49, #eee, 0.9, #e0e0e0);
	-arui-fill-mousedown: lineargradient(0, 0, 0, 1, 0.49, #ddd, 0.9, #d0d0d0);
	-arui-cornerradius: 6;
}

.fillButton {
	-swing-foreground: #fff;
	-swing-background: #fff;
	-arui-foreground-mouseover: #fff;
	-arui-foreground-mousedown: #fff;
	-arui-stroke: #196aeb;
	-arui-stroke-mouseover: #002a80;
	-arui-stroke-mousedown: #002a80;
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #4186f6, 0.9, #4787ed);
	-arui-fill-mouseover: lineargradient(0, 0, 0, 1, 0.49,#4186f6, .9, #4d90fe );
	-arui-fill-mousedown: lineargradient(0, 0, 0, 1, 0.49, #196aeb, 0.9, #196aeb);
	-arui-cornerradius: 6;
}

.removeButton {
	-swing-foreground: #fff;
	-swing-background: #fff;
	-arui-foreground-mouseover: #fff;
	-arui-foreground-mousedown: #fff;
	-arui-stroke: #b12d26;
	-arui-stroke-mouseover: #802420;
	-arui-stroke-mousedown: #802420;
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #d24634, .9, #c13e2c);
	-arui-fill-mouseover: lineargradient(0, 0, 0, 1, 0.49, #d24634, 0.9, #d14836);
	-arui-fill-mousedown: lineargradient(0, 0, 0, 1, 0.49, #c13e2c, 0.9, #bd362f );
	-arui-cornerradius: 6;
}


.toggleButton {
	-swing-foreground: #333;
	-swing-background: #fff;
	-arui-foreground-mouseover: #444;
	-arui-foreground-mousedown: #222;
	-arui-stroke: #999;
	-arui-stroke-mouseover: #aaa;
	-arui-stroke-mousedown: #888;
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #eee, .9, #ccc);
	-arui-fill-mouseover: lineargradient(0, 0, 0, 1, 0.49, #eee, 0.9, #e0e0e0);
	-arui-fill-mousedown: lineargradient(0, 0, 0, 1, 0.49, #aaa, 0.9, #bbb);
	-arui-cornerradius: 6;
}

.toggleButtonDisabled {
	-swing-foreground: #aaa;
	-swing-background: #fff;
	-arui-foreground-mouseover: #aaa;
	-arui-foreground-mousedown: #aaa;
	-arui-stroke: #bbb;
	-arui-stroke-mouseover: #bbb;
	-arui-stroke-mousedown: #bbb;
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #eee, .9, #eee);
	-arui-fill-mouseover: lineargradient(0, 0, 0, 1, 0.49, #eee, 0.9, #eee);
	-arui-fill-mousedown: lineargradient(0, 0, 0, 1, 0.49, #eee, 0.9, #eee);
	-arui-cornerradius: 6;
}

.createBtn {
	-swing-foreground: #fff;
	-arui-foreground-mouseover: #fff;
	-arui-foreground-mousedown: #fff;
	-arui-stroke: #387038;
	-arui-stroke-mouseover: #387038;
	-arui-stroke-mousedown: #387038;
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #62c462, 1, #51a351);
	-arui-fill-mouseover: lineargradient(0, 0, 0, 1, 0.49, #6fd26f, 0.9, #62c462);
	-arui-fill-mousedown: lineargradient(0, 0, 0, 1, 0.49, #51a351, 0.9, #51a351);
	-arui-cornerradius: 6;
}



